/*
Theme Name: OceanWP Child
Theme URI: https://oceanwp.org/
Template: oceanwp
Author: OceanWP
Author URI: https://oceanwp.org/about-oceanwp/
Description: OceanWP is the perfect theme for your project. Lightweight and highly extendable, it will enable you to create almost any type of website such a blog, portfolio, business website and WooCommerce storefront with a beautiful &amp; professional design. Very fast, responsive, RTL &amp; translation ready, best SEO practices, unique WooCommerce features to increase conversion and much more. You can even edit the settings on tablet &amp; mobile so your site looks good on every device. Work with the most popular page builders as Elementor, Beaver Builder, Brizy, Visual Composer, Divi, SiteOrigin, etc... Developers will love his extensible codebase making it a joy to customize and extend. Best friend of Elementor &amp; WooCommerce. Looking for a Multi-Purpose theme? Look no further! Check the demos to realize that it's the only theme you will ever need: https://oceanwp.org/demos/
Tags: two-columns,right-sidebar,footer-widgets,blog,news,custom-background,custom-menu,post-formats,rtl-language-support,sticky-post,editor-style,threaded-comments,translation-ready,buddypress,custom-colors,featured-images,full-width-template,theme-options,e-commerce,block-styles,wide-blocks,accessibility-ready
Version: 3.4.7.1693755758
Updated: 2023-09-03 17:42:38

*/
/* GENERAL */

* {
    font-family: 'Syne', sans-serif;
    border: 1px solid blue;


}

/****** Header ***********/

header{
    display:flex!important;
    width: 100%!important;
    max-height: 80px;
    padding:0;
    margin: 0;

}
    
#main #content-wrap{
    
    padding: 0;

}
   
/*code du menu de navigation*/
    
.liste-liens{
        display: flex;
        list-style-type: none;
        list-style: none;
        margin-left: 700px;
        margin-bottom:0;
        margin-top:0;
        
    }   
    
/* lien Nous rencontrer*/
.lien-rencontrer{
    display: flex;
    font-family: 'Syne', sans-serif;
    width: 114px;
    height:19px;
    white-space: nowrap;
    font-weight: 400;
    margin-left: 150px;
    margin-top:7px;
    
}
   .lien-rencontrer:hover{
    color:black;
   }

        
    
/*lien Commander*/  
  .button{
    display: flex;
    background-color: #DC9F96;
    text-transform: capitalize;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    margin-left: 50px ;
    text-align: center;

  }  
    .button:hover{
        background-color: #DC9F96;
    }

    .lien-admin{
        display: flex;
        margin-top: 7px!important;
    }
    .lien-admin:hover{
        color: black;
    }

.logo{
    display:flex;
    height:19px;
    width: 201px;
    margin-top: 13px;
    margin-left: 30px;
}



/****** body ***********/


/* code du formulaire Nous Rencontrer*/

#wpcf7-f1321-p14-o1 input[type=text]{
    width:383px;
    height: 71px;
    border-radius: 7px;
    background-color: white;
}
.wpcf7-textarea{
    width:383px;
    height: 237px;
    background-color: white;
    border-radius: 7px;
    margin-bottom: 50px;
}
#wpcf7-f1321-p14-o1 input[type=submit]{
    width: 198px;
    height: 55px;
    margin-left: 90px;
    text-transform: capitalize;
    background-color: #DC9F96;
    border-radius: 5px;
}
/*code du compteur de quantités*/

.compteur-ligne{
    display: flex!important;
    
}

.compteur-ligne input[type=text]{
    display: flex;
    width:51px ;
    height: 56px;
    background-color: white;
}   
.formulaire-compteur p{
    margin:0;
}
/*boutons + et -*/

.boutonscompteur{ 
    display: flex;
    flex-direction: column!important;
    color: white!important;
    width: 51px;
    height: 56px;
    
    }
    .boutoncompteur1{
        color: white;
        border:0;
        border-top-right-radius:5px;
    }
    .boutoncompteur2{
        color:white;
        border:0;
        border-top:1px solid white;
        border-bottom-right-radius:5px;
    }

    .boutonvalider .wpcf7-submit{
        width:100px;
        height:56px;
        border-top-left-radius: 5px;
        border-bottom-left-radius:5px;
        background-color:#E0B9B4!important;
        

    }


   

/*effacement d'une span class issue d'Elementor*/
.wpcf7-spinner{
    display: none;
}

 /* code du formulaire commander*/

.formulaire-commander{
    display: flex;
    flex-direction: row;
    gap: 70px;
    background-color:#3B8E46;
  
}


.formulaire-commander input[type="text"]{
    background-color: white!important;
    border-radius:7px;
    width:100%;
    height: 71px;

}
.formulaire-commander h4{
    color: white;
    font-size: 20px;
    line-height:24px;
}
.formulaire-commander h3{
    color:white;
    width:278px;
    font-size:30px;
    line-height: 36px;
}

.section-informations{
    display: flex;
    flex-direction: column;
    width:383px;
    gap:15px;
    
}
.section-livraison{
    display: flex;
    flex-direction: column;
    width:383px;
    gap:15px;
    border-left:1px solid white;
    padding-left: 50px;
}
#wpcf7-f1177-p16-o5 input[type="submit"]{
    display: flex;
    flex-direction: column;
    margin-left: 350px;
    margin-top: 50px;
    text-align: center;
    text-transform: capitalize;
    background-color:#E0B9B4 ;
    height: 55px;
    border-radius: 5px;
    font-size: 15px;
    line-height: 37px;
}
/*code du footer*/

#menu-item-268{
    display: flex;
    margin-right:290px;
    padding-right: 280px;
    height: 60px;
}

/*media queries*/

@media screen and (min-width: 1025px) and (max-width: 1350px) {
   
header{
        display: flex;
        width: auto;
        

    }
/*Menu de navigation*/

    .liste-liens{
        display: flex;
        list-style-type: none;
        list-style: none;
        margin-left: 500px;
        margin-bottom:0;
        margin-top:0;
        
    } 
    .lien-rencontrer{
        display: flex;
        font-family: 'Syne', sans-serif;
        width: 114px;
        height:19px;
        white-space: nowrap;
        font-weight: 400;
        margin-left: auto;
        margin-top:7px;
        
    }
       .lien-rencontrer:hover{
        color:black;
       }
    
            
        
    /*lien Commander*/ 

.button{
        display: flex;
        background-color: #DC9F96;
        text-transform: capitalize;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        margin-left: auto ;
        text-align: center;
    
      }  
        
.lien-admin{
            display: flex;
            margin-top: 7px!important;
        }
.lien-admin:hover{
            color: black;
        }

.logo{
        display:flex;
        height:19px;
        max-width: 201px;
        margin-top: 13px;
        margin-left: 30px;
    }



/*formulaire Nous Rencontrer*/

#wpcf7-f1321-p14-o1{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#wpcf7-f1321-p14-o1 input[type=submit]{
    display: flex;
    width: auto;
    height: auto;
    margin: auto!important;
    text-align: center;
    text-transform: capitalize;
    background-color: #DC9F96;
    border-radius: 5px;
}
#wpcf7-f1321-p14-o1 input[type=text]{
    width:auto;
    height: auto;
    margin: auto;
    border-radius: 7px;
    background-color: white;
}
.wpcf7-textarea{
    width:auto;
    height:auto ;
    margin: auto;
    background-color: white;
    border-radius: 7px;
    
}
/*Formulaire Commander*/

.formulaire-commander{
    display: flex; 
    align-items: center;
    text-align: center;
    max-width:none ; 
    margin:0;  
    padding: 0;  
}

.formulaire-commander input[type="text"]{
    display:flex;
    align-items: center;
    background-color: white!important;
    border-radius:7px;
    width: 99%;
    max-width:200px;
    height: auto;
    margin:auto;
    
}
.section-informations{
    display: flex;
    flex-direction: column;
    width:auto;
    
    
}
.section-livraison{
    display: flex;
    flex-direction: column;
    width:auto;
    border-left:1px solid white;
}

/*bouton submit du formulaire Commander*/

#wpcf7-f1177-p16-o5 input[type="submit"]{
    display: flex;
    flex-direction: column;
    margin-left: 250px!important;
    margin-top: auto!important;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background-color:#E0B9B4 ;
    height: 55px;
    border-radius: 5px;
    font-size: 15px;
    line-height: 37px;
}
/*code du footer*/

#menu-item-268{
    display: flex;
    align-items: center;
    margin-right: 330px!important;
    padding:0!important;
    text-align: center!important;
    white-space: nowrap;

}

}


@media screen and (max-width:1024px) and (min-width:768px){
 
header{
        display: flex;
        align-items: center;
    }

 

.elementor-heading-title{
        width:100%;
        font-weight: 600!important;
        font-size: 28px!important;
    
    }


/*Menu de navigation*/

.liste-liens{
    display: flex;
    list-style-type: none;
    list-style: none;
    margin-left: 200px;
    margin-bottom:0;
    margin-top:0;
    
    
} 
.lien-rencontrer{
    display: flex;
    font-family: 'Syne', sans-serif;
    width: 114px;
    height:19px;
    white-space: nowrap;
    font-weight: 400;
    margin-left: auto;
    margin-top:7px;
    
}
   .lien-rencontrer:hover{
    color:black;
   }

        
    
/*lien Commander*/  
  .button{
    display: flex;
    background-color: #DC9F96;
    text-transform: capitalize;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    margin-left: auto ;
    text-align: center;

  }  
    
    .lien-admin{
        display: flex;
        margin-top: 7px!important;
        font-weight: 300!important;
    }
    .lien-admin:hover{
        color: black;
    }
.logo{
    display:flex;
    height:auto;
    max-width: 150px;
    margin-top: 5px;
    margin-left:6px;
}
    

/*formulaire Nous Rencontrer*/

#wpcf7-f1321-p14-o1{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#wpcf7-f1321-p14-o1 input[type=submit]{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0!important;
    text-align: center;
    text-transform: capitalize;
    background-color: #DC9F96;
    border-radius: 5px;
}
#wpcf7-f1321-p14-o1 input[type=text]{
    width:auto;
    height: auto;
    margin: auto;
    border-radius: 7px;
    background-color: white;
}
.wpcf7-textarea{
    width:auto;
    height:auto ;
    margin: auto;
    background-color: white;
    border-radius: 7px;
    
}
/*formulaire Commander*/

.formulaire-commander{
    display: flex; 
    flex-direction: column!important;
    margin: auto;      
}
.formulaire-commander input[type="text"]{
    display:flex;
    align-items: center;
    background-color: white!important;
    border-radius:7px;
    width: 99%;
    width:383px;
    height: 71px;
    margin:auto;
    
}
.formulaire-commander h3{
    color:white;
    text-align: center;
    width:99%;
    font-size:20px;
    line-height: 36px;
}
.formulaire-commander h4{
    color: white;
    text-align: center;
    font-size: 20px;
    line-height:24px;
}

.section-informations{
    display: flex;
    flex-direction: column;
    margin: auto;
    width:99%;
    gap:15px;
}
.section-livraison{
    display: flex;
    flex-direction: column;
    margin:auto ;
    width:99%;
    gap:15px;
    border-left:none;
    border-top: 1px solid white;
    padding: 15px;
   
}
#wpcf7-f1177-p16-o5 input[type="submit"]{
    display: flex;
    flex-direction: column;
    margin: auto !important;
    text-align: center;
    text-transform: capitalize;
    background-color:#E0B9B4 ;
    height: auto;
    border-radius: 5px;
    font-size: 15px;
    line-height: 37px;
}


/*Compteur quantités*/

.compteur-ligne input[type=text]{
    display: flex;
    width:51px ;
    height: 56px;
    background-color: white;
    margin:0;
}
.boutonvalider .wpcf7-submit{
    width:50px;
    height:25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    background-color:#E0B9B4!important;
    

}
#wpcf7-f1177-p16-o5 input[type="submit"]{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 50px;
    text-align: center;
    text-transform: capitalize;
    background-color:#E0B9B4 ;
    height: 55px;
    border-radius: 5px;
    font-size: 15px;
    line-height: 37px;
}
/*code du footer*/

#menu-item-268{
    display: flex;
    width:auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto!important;
    white-space: nowrap;
}


}

@media screen and (min-width: 320px) and (max-width: 767px) {

header{
        display: flex;
        flex-direction: column!important;
    }
    /*Menu de navigation*/

.liste-liens{
    display: flex;
    list-style-type: none;
    list-style: none;
    margin-left: auto;
    margin-bottom:0;
    margin-top:0;
    gap: 10px;
    
} 
.lien-rencontrer{
    display: flex;
    font-family: 'Syne', sans-serif;
    height:auto;
    white-space: nowrap;
    font-weight: 400;
    margin-left: auto;
    margin-top:7px;
    
}
   .lien-rencontrer:hover{
    color:black;
   }

        
    
/*lien Commander*/  
  .button{
    display: flex;
    background-color: #DC9F96;
    text-transform: capitalize;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    max-width: 120px;
    margin-left: 0 ;
    text-align: center;

  }  
    
    .lien-admin{
        display: flex;
        margin-top: 7px!important;
        font-weight: 300!important;
    }
    .lien-admin:hover{
        color: black;
    }

.logo{
    display:flex;
    height: 13px;
    max-width: 100px;
    margin-top: 5px;
    margin-left: 5px;
}
    
    

/* code du formulaire Nous Rencontrer*/

#wpcf7-f1321-p14-o1 input[type=text]{
    max-width: 150px!important;
    height: auto!important;
    margin: auto;
    border-radius: 7px;
    background-color: white;
}
.wpcf7-textarea{
    max-width:200px!important;
    height:auto!important ;
    margin: auto;
    background-color: white;
    border-radius: 7px;
    margin-bottom: 50px;
}
#wpcf7-f1321-p14-o1 input[type=submit]{
   max-width: 100px;
    height: auto;
    margin: auto!important;
    text-transform: capitalize;
    text-align: center;
    background-color: #DC9F96;
    border-radius: 5px;
}


.elementor-heading-title{
        width:100%;
        font-weight: 600!important;
        font-size: 18px!important;
    }

/*Image de la section Nous rencontrer*/

.elementor-element-114866e {
            display: none;
        }


.formulaire-commander{
        display: flex; 
        flex-direction: column;
        gap:40px;
          
    }
    .formulaire-commander input[type="text"]{
        display: flex;
        align-items: center;
        background-color: white!important;
        border-radius:7px;
        width: 99%;
        height: 71px;
        
    }
    .formulaire-commander h3{
        text-align: center;
        color:white;
        width:99%;
        font-size:20px;
        line-height: 30px;
        margin:auto;
    }
    .formulaire-commander h4{
        text-align: center;
        color: white;
        font-size: 10px;
        line-height:15px;
    }
    
    
    
    .section-informations{
        display: flex;
        flex-direction: column;
        width:99%;
        gap:15px;
    }
    .section-livraison{
        display: flex;
        flex-direction: column;
        width:99%;
        gap:15px;
        border-left:none;
        border-top: 1px solid white;
        padding: 15px;
        
    
    } 
    #wpcf7-f1177-p16-o5 input[type="submit"]{
        display: flex;
        flex-direction: column;
        margin:auto!important;
        text-align: center;
        text-transform: capitalize;
        background-color:#E0B9B4 ;
        height: 55px;
        border-radius: 5px;
        font-size: 15px;
        line-height: 37px;
    }
   
    .h2{
        line-height: 30px;
        font-weight: 500;
    }

/*Compteur quantités*/

    .compteur-ligne{
        display: flex!important;
        justify-content: center!important;
        align-items:center!important;
        margin:auto !important;
        
    }
    
    .compteur-ligne input[type=text]{
        display: flex;
        justify-content: center;
        align-items: center;
        width:51px ;
        height: 56px;
        margin: auto!important;
        background-color: white;
    } 
    .boutonscompteur{ 
        display: flex;
        color: white!important;
        width: 51px;
        height: 56px;
        margin:auto!important;
        
        } 
        .boutonscompteur{ 
            display: flex;
            flex-direction: column!important;
            color: white!important;
            width: 51px;
            height: 56px;
            
            }

        
    .boutonvalider .wpcf7-submit{
        display: flex!important;
        flex-direction: column!important;
        width: 80px;
        height:36px;
        border-top-left-radius: 5px;
        border-bottom-left-radius:5px;
        background-color:#E0B9B4!important;
        

    }
    /*footer*/

    #menu-item-268{
        display: flex;
        margin: auto !important;
        white-space: nowrap;
    }


  }

    



